.h5p-iframe-wrapper {
	width: auto; height: auto;
}

.h5p-fullscreen .h5p-iframe-wrapper,
.h5p-semi-fullscreen .h5p-iframe-wrapper {
	width: 100%;
	height: 100%;
}

.h5p-iframe-wrapper.h5p-semi-fullscreen {
	width: 100%;
	height: 100%;
	background: black;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
}
.h5p-iframe-wrapper .buttons {
	text-align: right;
}
.h5p-iframe-wrapper.h5p-semi-fullscreen .buttons {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 20;
}
.h5p-iframe-wrapper .h5p-iframe {
	width: 100%;
	height: 100%;
	z-index: 10;
}
.h5p-iframe-wrapper.h5p-semi-fullscreen .buttons button:before {
	content: 'Exit ';
}
.h5p-iframe-wrapper button.fullscreen {
	color: #e5eef6;
	text-decoration: none;
	padding: 6px 12px;
	background: #539ad7;
	background-image: -webkit-linear-gradient(top,#4584ba,#539ad7);
	background-image: -moz-linear-gradient(top,#4584ba,#539ad7);
	background-image: -o-linear-gradient(top,#4584ba,#539ad7);
	background-image: -ms-linear-gradient(top,#4584ba,#539ad7);
	background-image: linear-gradient(to bottom,#4584ba,#539ad7);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4584ba',endColorstr='#539ad7',GradientType=0);
	box-shadow: 0 0 8px #bebebe;
	border: none;
	opacity: 0.8;
}
.h5p-iframe-wrapper button.fullscreen:hover {
	opacity: 1;
	background: #539ad7;
	background-image: -webkit-linear-gradient(top,#539ad7,#4584ba);
	background-image: -moz-linear-gradient(top,#539ad7,#4584ba);
	background-image: -o-linear-gradient(top,#539ad7,#4584ba);
	background-image: -ms-linear-gradient(top,#539ad7,#4584ba);
	background-image: linear-gradient(to bottom,#539ad7,#4584ba);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#539ad7',endColorstr='#4584ba',GradientType=0);
	cursor: pointer;
}
